*~
.DS_Store
*.elc
tmp/*
etc/emacs-custom.el
/tramp
/elpa
/etc/nrepl-history.eld
/etc/projectile-bookmarks.eld
/projectile-bookmarks.eld
/projectile.cache
/.cask/
/eshell/
/flycheck_init.el
/url/
/etc/cider-history.dat
/ido.last
/places
/smex-items
/.mc-lists.el
